<h1>Demo#index</h1>
<p>Hello From Views/Demo/Index.html.erb</p>
<br>
<a href="/demo/hello">Hello Link1</a><br>
<%= link_to("Hello With Parameters",{:action => 'hello', :page => 5, :id => 20}) %>
<%= link_to("Hello Link3",{:action => 'hello'}) %>
<hr>




